@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 20px;
    margin-left: 10px;
}
h2{
    font-size: 16px;
    margin-left: 10px;
}
h3{
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}
ul{
    display: flex;
}
img{
    object-fit: cover;
}
.colorOne{
    color:  #0065FC;
}
.colorTwo{
    color: #DEEBFF;
}
.colorThree{
    color: #F2F2F2;  
}
.notation{
    margin: 5px;
}
ul{
    list-style: none;
    padding-left: 10px;
}



/*------- Marging de la page ---------*/
header, nav,#mainSection,#searchActiviti{
    margin-left: 10px;
    margin-right: 10px;
}
/*------- Header ---------*/
header{
    display: flex;
    justify-content: space-between;
}
header img{
    object-fit: none;
    width: 100px;
    height: 50px;
}
header a{
    color: #0065FC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
header div{
    display: flex;
}
#ancrage a{
    color: black;
    font-weight: normal;
}
#ancrage a:hover{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}
/*------- Filtre ---------*/

form div{
    display: flex;
    height: 40px;
    width: min-content;
    align-items: center;
    border-radius: 10px;
    border: 2px #F2F2F2 solid;
}
form span{
    padding: 4px;
    background-color: #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
form input{
    border: none;
    height: 34px;
    width: max-content;
}
#butSearch{
    background-color: #0065FC;
    color: white;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    
}
#iconSearch{
    position: absolute;
    left: -999999px;
    height: 100%;
    width: 40px;
    border-radius: 10px;
    border: none;
    background-color: #0065FC;
    color: white;
}
#filtreList{
    display: flex;
    align-items: center;
}
li{
    border: #DAD7D7 2px solid;
    border-radius: 20px;
    height: 30px;
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
    padding-right: 10px;
}
li span{
    font-size: 17px;
    position: relative;
    top: -2px;
    left: -10px;
}
li:hover{
    box-shadow: black 2px 2px 10px;
}
#filtreInfo{
    display: flex;
    align-items: center;
}
/*------- Main ---------*/
#mainSection{
    display: flex;
    flex-direction: row-reverse;
}
#mainSection section{
    margin: 15px;
    background-color: #F2F2F2;
    border-radius: 10px;
}
#mainSection  a h2{
    font-size: 14px;
    margin: 5px;
}
#mainSection  a h3{
    font-size: 12px;
    margin: 5px;
}
/*------- Popu ---------*/
#searchPopu{
    flex: 5;
    padding: 5px;
}
#searchPopu article{
    height: 80%;
    padding: 0px;
    margin-top:50px;

}
#searchPopu a{
    display: flex;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
}
#searchPopu img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 50px;
    min-width: 80px;
}
#searchPopu .descInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*------- Heberge ---------*/
#searchHeberg{
    flex: 12;
}
#searchHeberg  article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
#searchHeberg  article a{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 160px;
    max-height: 300px;
    margin: 0.84%;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
}
#searchHeberg  article a img{
    width: 100%;
    height: 85px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#searchHeberg  article .descInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*------- Activite ---------*/
#searchActiviti article{
    display: flex;
}
#searchActiviti a{
    display: block;
    border-radius: 10px;
    box-shadow: #F2F2F2 2px 0px 10px;
}
.activitiLong{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 400px;
    margin: 20px;
}
.activHaut,.activBas{
    flex: 1;
    height: 45%;
}
.activitiLong img{
    width: 100%;
    height: 87%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.activHaut img ,.activBas img{
    height: 76%;
}
.activHaut{
    margin-bottom: 5px;
}
.activBas{
    margin-top: 5px;
}
/*------- Block du footer ---------*/
footer{
    display: flex;   
    background-color: #F2F2F2;
}
footer div{
    flex: 1;
}




/*------------------TABLET STYLE------------*/
@media(max-width: 1024px){
    /*------- Filtre ---------*/
    #filtreList{
        flex-direction: column;
        align-items: flex-start;
    }
    ul{
        flex-wrap: wrap;

    }
    #mainSection{
        flex-direction: column;
    }
    #mainSection article{
        flex-direction: row;
    }
    li{
        margin-left: 0px;
        margin-right: 20px;
    }
    /*------- Popu ---------*/
    #searchPopu article{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #searchPopu article a{
        width: 30%;
        min-width: 215px;
        margin: 0px;
    }
}


/*------------------MOBILE STYLE------------*/
@media(max-width: 764px){
    /*------- Header ---------*/
    header{
        flex-direction: column;
        justify-content: flex-start;
    }
    #inscription{
        position:absolute;
        top: 0px;
        right: 5px;
    }
    #ancrage{
        width: 100%;
        display:flex;
    }
    #ancrage a{
        flex: 1;
        width:50%;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: #F2F2F2 2px solid;
    }
    #ancrage a:hover{
        border-bottom: #0065FC 2px solid;
        border-top: none;

    }
    /*------- Filtre ---------*/
    #filtreList{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    ul{
        margin: 20px;
        flex-wrap: wrap;
        margin-left: 0px;
        padding-left: 0px;
    }
    li{
        padding-left: 0px;
        margin: 5px;
        margin-left:10px;
        margin-right: 10px;
    }
    #butSearch{
        position: absolute;
        left: -999999px;
    }
    #iconSearch{
        position: unset;
    }
    /*------- Main ---------*/
    #mainSection{
        flex-direction: column;
    }
    /*------- Popu ---------*/
    #mainSection #searchPopu{
        flex: none;
        margin: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #searchPopu article{
        flex-direction: column;
    }
    #searchPopu article a{
        width: auto;
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #searchPopu img{
        min-width: 120px;
    }
    /*------- Heberge ---------*/
    div #searchHeberg{
        background: white;
    }
    #searchHeberg article a{
        width: 45%;
        box-shadow: #F2F2F2 3px 2px 10px;
    }
    #searchActiviti article{
        flex-direction: column;
    }
    /*------- Activite ---------*/
    .activitiLong{
        width: auto;
    }
    .activitiLong img{
        height: 76%;
    }
    #searchActiviti article a ,.activHaut ,.activHaut{
        width: auto;
        height: 200px;
    }
    /*------- Footer ---------*/
    footer{
        flex-direction: column;
        margin-top: 30px;
        padding: 20px;
    }
}

/*------------------MOBILE STYLE------------*/
@media(max-width: 425px){
    /*------- Heberge ---------*/
    #searchHeberg article{
        flex-direction: column;
    }
    #searchHeberg article a{
        width: auto;
        box-shadow: #F2F2F2 3px 2px 10px;
    }
}